<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Fill Info {% endblock %}</title>
</head>
<body>
    <div>
    <h1>Tests Information :</h1>
    </div>
    <div>
        <p>*******************************************************</p>
    </div>
    <div>
        <p>Total tests<strong> : 3</strong></p>
    </div>
    <div>
        <h1>Phone Information :</h1>
    </div>
    <div>
        <p>*******************************************************</p>
    </div>
    <div>
        <p><strong>Phone Model</strong> : Samsung Galaxy S4</p>
    </div>
    <div>
        <p><strong>Phone OS</strong>: Android 9</p>
    </div>
    <div>
        <p>&nbsp;</p>
    </div>
    <div>
        <h1>Firmware Information :&nbsp;</h1>
    </div>
    <div>
        <p>*******************************************************</p>
    </div>
    <div>
        <p><strong>Device</strong> : BlueNRG-2</p>
        <p><strong>Firmware ver</strong> : 21</p>
    </div>
    <div>&nbsp;</div>
    <div>
        <h1>Tests Information :&nbsp;</h1>
    </div>
    <div>
        <p>*******************************************************</p>
    </div>
    {% block generateTable %}
    {% endblock %}
</body>
</html>